*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 500ms;
}



nav {
    background-color: black;
    width: fit-content;
    position: fixed;
    top: 0;
    z-index: 1000;
}
nav #menu {
    padding: 0.5em;
    cursor: pointer;
    fill: white;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    width: fit-content;
    border-bottom-right-radius: 10px;
}
nav .shownav {
    width: 200px !important;
}
nav .navbar {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 45px;
    justify-content: center;
    align-items: center;
    text-align: left;
    transition: 500ms width;
    overflow: hidden;
}
nav .navbar a {
    width: 100% !important;
    display: flex;
    padding: 0.5em;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    border-bottom: 3px solid transparent;
}
nav .navbar a:hover {
    border-bottom: 3px solid white;
}
nav .navbar svg {
    fill: white;
    padding: 1em;
    padding-left: 0;
    box-sizing: content-box;
}

.logo{
    transform: rotatez(-90deg);
}

main{
    top: 0;
    max-width: 100%;
    padding-left: 45px;
}

iframe{
  width: 100%;
border: none;
}

@media (min-width:1000px) {
    iframe{
        height: 60vh;
    }
}


.block{
  padding: 1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: -10px;
}

.block h1{
  font-size: 1.5rem;
  color: midnightblue;
}

.block h1 span{
font-size: 3.5rem;
}



.para p{
    width: 95%;
    padding: .5em;
    margin: auto;
}

.para p span{
color: red;
}


swiper-container{
    max-width: 500px;
    overflow: visible !important;
    padding: 1em;
}

.cards{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    text-align: center;
    padding: .5em;
}
.cards h2{
    color: red;
    text-decoration: underline;
    padding: 1em;
}
.cards img{
    width: 100%;
}

.cards a{
    display: block;
    color: white;
    background-color: red;
    text-decoration: none;
    margin: 1em !important;
    padding: 1em;
    font-size: 1rem;
    font-weight: 600;
    animation: btn 300ms alternate-reverse infinite;
}

@keyframes btn {
    0%{
        transform: scale(1);
    }
    100%{
        transform:scale(.9);
    }
}

.mini svg{
  width: 2rem ;
  margin: 1em;
  fill: white;
}

mini p{
    padding: 1em;
}

footer{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;
}

.topfooter{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.4%;
}
.topfooter h2{
margin: 1em;
color: grey;

}

footer a{
    text-decoration: none;
}

.flex{
    display: flex;
}

.