*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 500ms;
}

body{
    overflow-x: hidden;
    width: 100vw;
}



@media (max-width:650px) {
    nav #menu{
        display: block !important;
    }
    .navbar{
        display: grid !important;
        grid-template-columns: 100%;
        height: 60px;
    }
}
nav {
    background-color: midnightblue;
    width: fit-content;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}
nav #menu {
    padding: 0.5em;
    cursor: pointer;
    fill: white;
    position: fixed;
    top: 10px;
    right: 10px;
    background: transparent;
    width: fit-content;
    border-bottom-right-radius: 10px;
    display: none;
}
nav .shownav {
    width: 100%;
    height: 400px;
}
nav .navbar {
    border: 1px solid black;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: left;
    transition: 500ms height;
    overflow: hidden;
}
nav .navbar a {
    width: 100% !important;
    display: flex;
    padding: 0.5em;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    border-bottom: 3px solid transparent;
}
nav .navbar a:hover {
    border-bottom: 3px solid white;
}

.active{
    border-bottom: 3px solid white !important;
}
nav .navbar svg {
    fill: white;
    padding: 1em;
    padding-left: 0;
    box-sizing: content-box;
}

.bg{
    width: 100%;
    padding: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: rgba(25, 25, 112, 0.589);
    color: midnightblue;
}

.bg img{
    width: 100%;
    margin-bottom: 1rem;
}

.logo{
    font-size: 1rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    top: 0;
    max-width: 100%;
}

iframe{
  width: 100%;
border: none;
}

@media (min-width:1000px) {
    iframe{
        height: 60vh;
    }
}


.block{
  padding: 1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: -10px;
  text-align: center;
  overflow: hidden;
}

.block h1{
  font-size: 1.5rem;
  color: midnightblue;
}

.block h1 span{
font-size: 3.5rem;
}



.para p{
    width: 95%;
    padding: .5em;
    margin: auto;
}

.para p span{
color: red;
}


swiper-container{
    margin-left: -10px;
    max-width: 300px;
    overflow: visible !important;
}



.cards{
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: midnightblue!important;
    margin: 1em !important;
    text-decoration: none;
    margin: .5em;
    width: 100%;
    padding: 1em;
    border: 2px solid midnightblue;
    border-radius: 10px;
}

.cards img{
    width: 100%;
    border-radius: 10px;
}

swiper-slide{
    display: grid;
    grid-template-columns: 100%;
    margin: .5em;
}
.cards:active{
    cursor: default;
}

.cards h2{
    color: midnightblue;
    font-size: 1rem;
}
.cards img{
    width: 100%;
}



@keyframes btn {
    0%{
        transform: scale(1);
    }
    100%{
        transform:scale(.9);
    }
}

.mini svg{
  width: 2rem ;
  margin: 1em;
  fill: white;
}

mini p{
    padding: 1em;
}

footer{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;
}

.topfooter{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.4%;
    gap: 20px;
}
.topfooter h2{
margin: 1em;
color: grey;

}

footer a{
    text-decoration: none;
}

.flex{
    display: flex;
}


.flex p{
    font-size: 1.5rem !important;
}

.flex svg{
    width: 2rem;
    height: 2rem;
    border: 2px solid white;
    box-sizing: content-box;
    padding: .5em;
    border-radius: 50%;
}

.star svg{
width: 1.4rem;
fill: orange;
}

.review{
background-color: rgba(0, 0, 0, 0.171);
}

.cards2{
    background-color: white;
    margin: .5em;
    padding: .5em;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cards2 .info{
    display: flex;
}

.cards2 img{
    margin: .5em;
}

.cards2 h2{
    margin: .5em;
    font-size: 1rem;
}

.cards2 p{
   padding: 1em;
   font-size: .9rem;
}

.form{
    width: 100%;
    padding: 1em;
    min-height: 100vh;
}



.block-bg{
    min-height: 100vh;
    width: 100%;
}

.block-bg p{
color: midnightblue;
font-size: 1.1rem;
max-width: 800px;
margin: auto;
padding: .5em;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.block-bg p span{
font-weight: 600;
text-transform: capitalize;
}
@media (max-width:800px) {
    .topfooter{
        display: grid;
        grid-template-columns: 100%;
        gap: 20px;
    }
}


.flex-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
}

.flex-info>div{
    width: 400px;
    overflow: hidden;
    border-radius: 10px;
    margin: 1rem;
    border: 1px solid midnightblue;
}

.flex-info>div img{
width: 100%;
}

.flex-info h2{
    font-size: 1.3rem;
    text-align: center;
    padding: 1em;
    color: red;
}

.flex-info p{
font-size: .9rem;
padding: 1em;
text-align: left;
color: black;
}